auto-save-list
*.elc
vendor/elpa/archives/gnu/archive-contents
vendor/elpa/archives/marmalade/archive-contents
vendor/elpa/archives/melpa
vendor/elpa/archives/gnu/archive-contents.signed
tramp
ac-comphist.dat
eshell
projectile-bookmarks.eld
projectile.cache
